<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
    Just output logs to stdout. We will a log collection mechanism running within
    Kubernetes for aggregation and centralized storing. i.e. Fluent Bit.
    https://docs.fluentbit.io/manual/installation/kubernetes#concepts
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%marker] [%thread] - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>